/Library
/Builds
/Logs
/Temp
/UserSettings
/obj


/Assets/uOSC*


/binWin
/binAndroid

/ProjectSettings/AndroidLogcatSettings.asset

/.vs
/.vsconfig
/.DS_Store

/*.csproj
/*.unityproj
/*.sln
/*.suo
/*.tmp
/*.user
/*.userprefs
/*.pidb
/*.booproj
/*.svd
/*.pdb
/*.opendb

